// 颜色定义规范
$color-background: #FFF;
$color-background-d: rgba(0, 0, 0, 0.3);
$color-highlight-background: #E8ECEF;
$color-theme: #2DDAE8;
$color-text: #1F1F1F;
$color-text-m: #333;
$color-text-x: #666;
$color-text-g: #00B7F8;

// 字体规范
$font-size-small-x: 11px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large-s: 17px;
$font-size-large: 18px;